<!DOCTYPE html>
<html> lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home Page</title>
   {% load static %} <!-- Load the static template tag here -->
   <link rel="stylesheet" href="{% static 'app/homepage.css' %}"> <!-- Reference to your CSS file -->
</head>

<body>
    <h1>Welcome to Your Spotify Wrapped Home</h1>
    <a href="{% url 'view_wrapped' %}">View Past Spotify Wrapped</a>
    <br>
    <a href="{% url 'logout' %}">Logout</a> <!-- Logout link -->
</body>
</html>
